.bolinha {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;

    display: inline-block;
    margin-right: 8px;
}

.legenda {

    
    font-family: 'SF Compact', sans-serif;
    font-weight: 200;
    font-size: 18px;

    margin-right: 12px;
}