:root {
    /*Combinação de Cores do Figma*/
    /*
    */

    --branco: #F0F0F0;
    --preto: #1A1A24;
    --cinza-claro: #BABABA;
    --cinza-escuro: #505050;
    --vermelho-fraco: #CD4A3E;
    --vermelho-forte: #DB3D2E;

    /*Segunda Combinação de cores*/
    /*
    --branco: #FFFFFF;
    --preto: #0D0D0D;
    --cinza-claro: #D9D9D9;
    --cinza-escuro: #3A3A3A;
    --vermelho-fraco: #FF6A55;
    --vermelho-forte: #E63946;
    */



    /*Terceira Combinação de cores*/
    /*
    --branco: #F5F9FF;
    --preto: #1C1E26;
    --cinza-claro: #88C0D0;
    --cinza-escuro: #4C566A;
    --vermelho-fraco: #BF616A;
    --vermelho-forte: #D08770;
    --botao-dark-mode: #A3BE8C;
    --botao-light-mode: #8FBCBB;
    */


    /*Quarta Combinação de Cores*/
    /*
    --branco: #FFF4E6;
    --preto: #2B2D42;
    --cinza-claro: #FFD166;
    --cinza-escuro: #3D348B;
    --vermelho-fraco: #EF476F;
    --vermelho-forte: #FF6F59;
    --botao-dark-mode: #06D6A0;
    --botao-light-mode: #118AB2;
    */




    --fundo-light-mode: var(--branco);
    --fundo-dark-mode: var(--preto);

    --texto-light-mode: var(--preto);
    --texto-dark-mode: var(--branco);

    --assento-disponivel-dark-mode: var(--branco);
    --assento-disponivel-light-mode: var(--cinza-claro);


    --assento-selecionado-dark-mode: var(--vermelho-fraco);
    --assento-selecionado-light-mode: var(--vermelho-forte);


    --assento-ocupado-dark-mode: var(--cinza-escuro);
    --assento-ocupado-light-mode: var(--preto);

    --cor-tela-dark-mode: var(--cinza-escuro);
    --cor-tela-light-mode: var(--cinza-claro);

    --botao-dark-mode: var(--vermelho-fraco);
    --botao-light-mode: var(--vermelho-forte);

    --square-size: 32px;
    --circle-size: 16px;

    --margem-desktop: 32px;
    --margem-celular: 40px;

    --margem: var(--margem-desktop);




}

@font-face {
    font-family: 'SF Compact';
    src: url('../fonts/SF-Compact-Display-Ultralight.otf') format('truetype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact';
    src: url('../fonts/SF-Compact-Display-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact';
    src: url('../fonts/SF-Compact-Display-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@media (prefers-color-scheme: light) {
    body {
        --fundo: var(--fundo-light-mode);
        --texto: var(--texto-light-mode);
        --assento-disponivel: var(--assento-disponivel-light-mode);
        --assento-ocupado: var(--assento-ocupado-light-mode);
        --assento-selecionado: var(--assento-selecionado-light-mode);
        --tela: var(--cor-tela-light-mode);
        --botao: var(--botao-light-mode);
    }
}


@media (prefers-color-scheme: dark) {
    body {
        --fundo: var(--fundo-dark-mode);
        --texto: var(--texto-dark-mode);
        --assento-disponivel: var(--assento-disponivel-dark-mode);
        --assento-ocupado: var(--assento-ocupado-dark-mode);
        --assento-selecionado: var(--assento-selecionado-dark-mode);
        --tela: var(--cor-tela-dark-mode);
        --botao: var(--botao-dark-mode);
    }
}

.ocupado {

    background-color: var(--assento-ocupado);
}

.disponivel {

    background-color: var(--assento-disponivel);

}

.selecionado {

    background-color: var(--assento-selecionado);

}

.espacamento {
    margin-bottom: 40px;
}

.espacamento_direita {
    margin-right: 40px;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    gap: var(--margem);
}


@media (max-width: 600px) {

    :root {
        --margem: var(--margem-celular);
    }
}