#todosLugares {
    display: flex;
    flex-wrap: wrap;
    max-width: calc((32px + 8px) * 8);
    gap: 10px;
    justify-content: center;

}

.assento {
    width: var(--square-size);
    height: var(--square-size);
    border-radius: 10px;
}

.assento.disponivel {
    cursor: pointer;
}