.conteudo_filme h1{
    
    font-family: 'SF Compact', sans-serif;
    font-weight: 350;
    font-size: 18px;
}

.conteudo_filme p{
    
    font-family: 'SF Compact', sans-serif;
    font-weight: 200;
    font-size: 18px;
}



#titulo_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#titulo_conteudo h1, #titulo_conteudo p{
    
    margin: 0px;
    padding: 0px;
}

#titulo_conteudo h1{
    
    font-family: 'SF Compact', sans-serif;
    font-weight: 790;
    font-size: 40px;
}

#titulo_conteudo p{
    
    font-family: 'SF Compact', sans-serif;
    font-weight: 200;
    font-size: 32px;
}


@media (max-width: 600px) {
  .conteudo_filme {
    display: none; 
  }

  #titulo_conteudo {
    display: flex;
  }
}

